@import '../../styles.scss';

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary;
    z-index: 1;

    .nav {
        height: 5rem;
        max-width: 70%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        nav>* {
            // @include secondary-font;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $grey;
            text-decoration: none;
            margin: 1rem;
            padding: 0.5rem;

            &:hover {
                color: $link;
            }
        }

        .active {
            color: $secondary;
        }

        .social>* {
            margin-left: 0.5rem;
            padding: 0.5rem 0;
        }

        .btn {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: none;
        }
    }

}