@import '../styles.scss';

.home-container {
    background-color: #fff0dd;
    background-image: url('../assets/background.svg');
    display: flex;
    height: calc(100vh - 5rem);
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3 {
        color: $secondary;
        font-size: 1.5rem;
        font-family: $secondary-font;
    }

    p {
        color: $secondary;
        font-size: 2rem;
        text-align: center;
        font-style: italic;
        letter-spacing: 0.05rem;
    }
}